/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

thead {
    background-color: #f0f0f0;
}


tr:hover {
    background-color: #f1f1f1;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
        border-collapse: collapse;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    tr {
        border-bottom: 2px solid;
    }

    td:hover {
        background-color: rgba(50, 200, 250, 200);
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before {
        content: "Тип";
    }

    td:nth-of-type(2):before {
        content: "Маркировка";
    }

    td:nth-of-type(3):before {
        content: "Ток";
    }

    td:nth-of-type(4):before {
        content: "Секция";
    }

    td:nth-of-type(5):before {
        content: "Количество";
    }
}